<html lang=en>
  <head>
    <meta charset=utf-8>
    <link rel="stylesheet" type="text/css" href="css/tacit-css.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/bad.css"/>
    <title>You win!!</title>
  </head>
  <body>
    <div>
      <h1>You've winned</h1>
      <h2>Congratulate, you've won -$5,000,000 (woops typo) free money</h2>
      <img src="images/free-money.jpg">
      <h2>Please click the button below to accept your prize.</h2>
      <button type="submit">Accept the prize!</button>
    </div>
    <iframe src="http://localhost:3000"></iframe>
  </body>
</html>
