body {
    padding-top: 0px;
}

section {
    padding-bottom: 10px;
}

section>div {
    padding-top: 50px;
    display: inline-block;
    width:40%;
}

img {
    vertical-align:top;
    margin:10px;
}